.themes {
    .theme.dark {
        img {
            width: 100%;
            object-fit: cover;
            object-position: top;
            height: 220px;
        }
    }

    .theme img {
        transition: 5s all ease;

        &:hover {
            object-position: bottom;
        }
    }

}