.Toastify {
	text-align: center !important;
}

.Toastify__toast--success {
	background: $success;
	@include border-radius($toast-border-radius);
	@include font-size($toast-font-size);
	box-shadow: $toast-box-shadow;
	max-width: $toast-max-width;
	border: $alert-border-width solid transparent;
}
.Toastify__toast--error {
	@include border-radius($toast-border-radius);
	@include font-size($toast-font-size);
	box-shadow: $toast-box-shadow;
	max-width: $toast-max-width;
	border: $alert-border-width solid transparent;
}

.flag-icon {
	width: 25px;
	height: 14px;
	border-radius: 2px;
}
