.previewImage span {
	width: 24px;
	height: 24px;
	position: absolute;
	margin-left: -0.5rem;
	margin-top: 0.4rem;
	float: left;
	cursor: pointer !important;
	transition: color 0.3s ease, border 0.3s ease;
	text-align: center;
	line-height: 1.4;
	font-size: 12px;
}
.previewImage span > * {
	pointer-events: none;
}
.img-upload-preview {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.previewImage {
	padding: 0 0.7rem;
	overflow: hidden;
	.preview-badge {
		margin-left: -1.1rem;
		margin-top: 3.2rem;
		border-radius: $border-radius 0 $border-radius 0;
	}

	img {
		width: 90px;
		height: 60px;
		float: left;
		border-radius: $border-radius;
		margin-top: 10px;
		&:hover {
			cursor: pointer;
		}
	}
	&:nth-child(1) {
		padding-left: 0rem;
		padding-right: 0.7rem;
		.preview-badge {
			margin-left: -5.1rem;
			margin-top: 9.5rem;
		}
		img {
			width: 15rem;
			height: 10rem;
			&:hover {
				cursor: pointer;
			}
		}
	}
}
.previewImage > * {
	pointer-events: none;
}

// drag and drop
.photo-file-detail {
	background: #819d97;
	padding: 7px;
	color: #ffffff;
	border-bottom: 1px solid #fff;
	font-size: 16px;
	text-transform: capitalize;
}

.sm-font {
	font-size: 13px;
}

.icon.shadow.padding-4 {
	border-radius: 10px;
}

.gu-mirror {
	position: fixed !important;
	margin: 0 !important;
	z-index: 9999 !important;
	opacity: 0.8;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
	filter: alpha(opacity=80);
}
.gu-hide {
	display: none !important;
}
.gu-unselectable {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}
.gu-transit {
	opacity: 0.2;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
	filter: alpha(opacity=20);
}
