$primary:#8e04b7;
$border-radius:.5rem;
$facebook:#3b5998;
$twitter: #00acee;
$secondary:grey;
$input-border-focus: red;

$ytd-rich-grid-items-per-row: 4;
$ytd-rich-grid-posts-per-row: 3;
$ytd-rich-grid-movies-per-row: 6;