$primary:#9b1ac2;
$border-radius:.5rem;
$facebook:#3b5998;
$twitter: #00acee;
$secondary:grey;
$input-border-focus: red;
$bg-light:#f8f9fa;
$bg-dark:#2b2b2b;
$bg-default:#eef2f4;
$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1340px) !default;
