.nav-scroller nav {
    border-bottom: 1px solid #dee2e6;
}

.cv-category-nav {
    .link-active {
        background-color: #eef2f4;
    }
}

.cv-category-nav {
    border-top: 1px solid #dee2e6;

    .nav-link {
        border: 1px solid transparent;
    }

    .nav-item {
        margin-bottom: -1px;
    }

    .nav-item ul.p-nav {
        padding-left: 0;
        background: white;
        width: 100vw;
        margin: auto;
        left: 0;
        background-color: #eef2f4;
    }
}

.nav-cats {
    .car-col {
        border-right: 1px solid #dee2e6 !important;
    }
}

.z-index-1050 {
    z-index: 1050;
}

.min-vh-85 {
    min-height: 85vh;
}