.hamburger-toggle {
    position: relative;
    padding: 0;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
	order:1;
	
	[class*='bar-'] {
		display: block;
		background: rgb(240, 239, 239);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .2s ease all;
		transition: .2s ease all;

		border-radius: 2px;
		height: 2px;
		width: 24px;
		margin-bottom: 4px;
		
		&:nth-child(2) {
			width: 18px;
		}
		
		&:last-child {
			margin-bottom: 0;
			width: 12px;
		}
	}
	
	&.is-opened {
		left:3px;
		
		[class*='bar-'] {
			background: rgb(240, 239, 239);
		}
		
		.bar-top {
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			-webkit-transform-origin: 15% 15%;
			transform-origin: 15% 15%;
		}

		.bar-mid {
			opacity: 0;
		}

		.bar-bot {
			-webkit-transform: rotate(45deg);
			transform: rotate(-45deg);
			-webkit-transform-origin: 15% 95%;
			transform-origin: 15% 95%;
			width: 24px;
		}
	} 

	&:focus {
		outline-width: 0;
	}
	
}
