.footer {
	bottom: 0;
	width: 100%;
	a {
		color: rgb(216, 216, 216);
	}

	.cv-title {
		color: #fff;
		font-size: 1rem;
		font-weight: 500 !important;
	}
}
.offers-footer-icon {
	font-size: 3rem;
}

.footer-social-icons {
	ion-icon {
		font-size: 1.8rem;
	}
}
