.nav-item ul.nav-second-level {
	padding-left: 0;
}

.nav-item ul.nav-second-level > .nav-item {
	padding-left: 20px;
}

li {
	list-style: none;
}

@media (min-width: 992px) {
	.sidenav {
		width: 210px;
		height: calc(100vh - 3.5rem);
		box-sizing: border-box;
		border-top: solid 0.5px #eef2f4;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
	}

	.navbar-expand-lg .sidenav {
		flex-direction: column;
	}

	.content-wrapper {
		margin-left: 210px;
	}
}

.filter-nav {
	color: $primary;
	width: 9rem;
}

.view-btn {
	font-size: 25px;
	padding: 0 !important;
}

.filter-sidebar {
	width: 250px;
}

.hero-form {
	margin-left: 250px;
	margin-right: 2rem;
}

.bg-primary-light {
	background: lighten($primary, 20);
}

@media (max-width: 992px) {
	.cv-container {
		width: 100%;
		padding: 0.5rem;
	}

	.sidenav {
		display: none;
		position: absolute;
		width: 225px;
		box-sizing: border-box;
	}
	.cv-container {
		width: 100%;
		padding-top: 4.5rem;
		margin-right: auto;
		margin-left: auto;
	}
}

// favourite sidenav

.fav-side-btn{
	top: 7.5rem;
	position: absolute;
	margin-left: -4.5rem; 
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.fav-sidenav {
	transition: 0.3s;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: visible !important;
	padding-top: 60px;
	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		display: block;
		transition: 0.3s;
	}
	&:hover {
		color: #f1f1f1;
	}
	.closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
	&.opened {
		width: 320px;
		right: 0;
	}
	&.closed {
		width: 10px;
		right: -2rem;
	}
}

@media screen and (max-height: 450px) {
	.fav-sidenav {
		padding-top: 15px;
		a {
			font-size: 18px;
		}
	}
}
